a.navbar-brand {
    color: white;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.survey-portal{
font-weight: normal;
}

.navbar {
    color: white;
}

.navbar-nav .text{
    padding-right: 15px !important;
}

.nav-link {
    color: #40bb85;
}

.navbar-nav:last-child:hover{
    color: #000 !important;
}

.logout:hover{
    color: #000 !important;
}

.nav-link:focus{
    color: #40bb85;
    font-weight: bold;
}

.nav-link.active{
    font-weight: bold;
    color: #40bb85 !important;
}

.nav-link:hover{
    font-weight: bold;
    color: #40bb85;
}

.logo-image {
    height: 65px;
    width: 84px; 
}